@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron {
            background-color: lightgrey; /* Orange */
            color: #ffffff;
            padding: 100px 25px;
    }
</style>
<body>

    <div class="jumbotron">
        <h1>Conference Management System</h1>
        <img src="~/Content/cmslogo.png" />
        <p class="lead">This system will be used for the following functionalities: 1 User Registration 2 Conference Management 3 Paper Submission 4 Review Management 5 Conference Administration
</p>
    </div>

    <style>
        .bg-grey {
                background-color: #f6f6f6;
                padding: 100px 25px;
        }
    </style>

    <div class="container-fluid">
        <h2>About Company</h2>
        <h4>Monash Conference Centre </h4>
        <p>Monash Conference Centre developed this web application at 2017</p>
    </div>

    <div class="container-fluid bg-grey">
        <h2>Our Values</h2>
        <h4><strong>MISSION:</strong> Our mission is to provide best service for our clients</h4>
        <p><strong>VISION:</strong> We are the future
    </div> 
    <h2>Company Location</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1574.642704565131!2d145.04317295818078!3d-37.877007577784745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6698cb33e0ac1%3A0x63f9134ad6bf7a0a!2sMonash+University%2C+Caulfield+Campus!5e0!3m2!1sen!2sau!4v1503570940814" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html> 